## libvirt/kvm host user with virt permissions
DEPLOY_ID=${USER}   ## defaults to current user

## Libvirt directory storage pool name
# Storage pool parameters
STORAGE_POOL="appdva-storage"         # node-local directory
STORAGE_PATH="/data/${STORAGE_POOL}"  # path to local storage on each node

# Network parameters (kvm phys host VM bridge name)
BRIDGE_NAME=virbr0

## Physical libvirt hypervisor IPs
#
LIBVIRT_HOST_SELF="10.132.0.11" # specify the primary node here 
LIBVIRT_HOST_PEERS=(
    "10.132.0.12"
    "10.132.0.13"
)

## VM Network parameters
#
# CIDR blocks & IPs for 
#   VM IPs, gateways, and DNS servers
#
# There should be at least the same number of entries, as there is LIBVIRT_HOSTS (self + peers)
# Should always be same number of entries in each of the 3 arrays (CIDR, gateway, DNS)
#   If a 1:1 mapping of CIDR, gateway, and DNS entries to each HOST, then there will be 1 VM on each HOST
#   If there is more than 1:1, then the process will cycle back round to the first HOST for the next VM, and so on
#
# CIDRs should be each VMs bridge network CIDR, with the .2 address reserved for the VM itself
VM_CIDRS=(
    "192.168.11.2/24"
    "192.168.12.2/24"
    "192.168.13.2/24"
)
# GATEWAYS should be the .1 address in each CIDR block, which is reserved for the gateway
VM_GATEWAYS=(
    "192.168.11.1"
    "192.168.12.1"
    "192.168.13.1"
)
# DNSS should be the .1 address in each CIDR block, which is reserved for the DNS
VM_DNSS=(
    "192.168.11.1"
    "192.168.12.1"
    "192.168.13.1"
)

## VM naming parameters
VM_CLUSTER_NAME="cluster1"
VM_HOSTNAME_PREFIX="appdva-${VM_CLUSTER_NAME}-vm"
VM_NAME_PREFIX="${DEPLOY_ID}-${VM_HOSTNAME_PREFIX}"

## VM size parameters
#
# profile=demo
NUM_VMS=1
VM_VCPUS=16
# VM_MEMORY_GB=32
VM_MEMORY_GB=30
VM_OS_DISK_GB=200
VM_DATA_DISK_GB=100

# # profile=small
# NUM_VMS=3
# VM_VCPUS=16
# # VM_MEMORY_GB=64
# VM_MEMORY_GB=60
# VM_OS_DISK_GB=200
# VM_DATA_DISK_GB=500
